<div class="topbar">
    <div class="toggle"></div>
    <div class="search">
        <label>
            <input type="text" placeholder="Search...">
            <i class="fa fa-search" aria-hidden="true"></i>
        </label>
    </div>
    <div class="user">
        <img src="../../../assets/images/avatar1.png" alt="avatar" width="60px" height="auto">
    </div>
</div>    

<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">1,042</div>
            <div class="cardName">Daily Views</div>
        </div>
        <div class="iconBox">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">80</div>
            <div class="cardName">Sales</div>
        </div>
        <div class="iconBox">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
    </div>
    
    <div class="card">
        <div>
            <div class="numbers">208</div>
            <div class="cardName">Comments</div>
        </div>
        <div class="iconBox">
            <i class="fa fa-comment" aria-hidden="true"></i>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">$6,042</div>
            <div class="cardName">Earning</div>
        </div>
        <div class="iconBox">
            <i class="fa fa-dollar-sign" aria-hidden="true"></i>
        </div>
    </div>
</div>

<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Recent Orders</h2>
            <a href="" class="btn">View All</a>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Payment</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Star Refrigerator</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>
                <tr>
                    <td>Window Coolers</td>
                    <td>$1100</td>
                    <td>Due</td>
                    <td><span class="status pending">Pending</span></td>
                </tr>
                <tr>
                    <td>Speaker</td>
                    <td>$620</td>
                    <td>Paid</td>
                    <td><span class="status return">Return</span></td>
                </tr>
                <tr>
                    <td>Hp Laptop</td>
                    <td>$6000</td>
                    <td>Due</td>
                    <td><span class="status inprogress">In Progress</span></td>
                </tr>
                <tr>
                    <td>Star Refrigerator</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>
                <tr>
                    <td>Window Coolers</td>
                    <td>$1100</td>
                    <td>Due</td>
                    <td><span class="status pending">Pending</span></td>
                </tr>
                <tr>
                    <td>Speaker</td>
                    <td>$620</td>
                    <td>Paid</td>
                    <td><span class="status return">Return</span></td>
                </tr>
                <tr>
                    <td>Hp Laptop</td>
                    <td>$6000</td>
                    <td>Due</td>
                    <td><span class="status inprogress">In Progress</span></td>
                </tr>
                <tr>
                    <td>Apple Watch</td>
                    <td>$680</td>
                    <td>Paid</td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>
                <tr>
                    <td>Dell Laptop</td>
                    <td>$4500</td>
                    <td>Paid</td>
                    <td><span class="status pending">Pending</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="recentCustomers">
        <div class="cardHeader">
            <h2>Recent Customers</h2>
        </div>
        <table>
            <tbody>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="../../../assets/images/avatar1.png"></div></td>
                    <td><h4>Tan ND<br><span>Viet Nam</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="../../../assets/images/avatar1.png"></div></td>
                    <td><h4>Tan ND<br><span>Viet Nam</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="../../../assets/images/avatar1.png"></div></td>
                    <td><h4>Tan ND<br><span>Viet Nam</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="../../../assets/images/avatar1.png"></div></td>
                    <td><h4>Tan ND<br><span>Viet Nam</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="../../../assets/images/avatar1.png"></div></td>
                    <td><h4>Tan ND<br><span>Viet Nam</span></h4></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>